@import "tailwindcss";
@reference "./styles/global.css";

h1 {
    font-size: 2.9rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 1rem;
    line-height: 1.0;
    font-family: var(--font-display);
}
h2 {
    font-size: 1.6rem;
    color: #000000;
    margin-bottom: 1rem;
    font-family: var(--font-display);
}
h3 {
    font-size: 1.3rem;
    color: #000000;
    margin-bottom: 1rem;
    font-family: var(--font-display);
}
h4,
h5,
h6 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 1rem;
    font-family: var(--font-display);
}

p,
li,
table {
    @apply text-black/80 text-sm;
}
blockquote {
    border-left: 4px solid #ffffff87;
    padding-left: 1rem;
    margin-left: 0;
    margin-bottom: 1rem;
}
blockquote p,
blockquote li,
blockquote a {
    @apply text-black/60 text-sm;
}
/* Top level code */
article pre:has(code) {
    @apply text-white/90 text-sm;

    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-bottom: 1rem;
}

article > pre:has(code),
.expressive-code {
    background: #1d2320;
    padding: 20px 20px;
    border-radius: 8px;
}

/* Inline code */
article > p code,
article li code,
article > h1 code,
article > h2 code,
article > h3 code,
article > h4 code,
article > h5 code,
article > h6 code {
    @apply text-black/70 text-[0.825rem];
    background: #ffffff24;
    padding: 2px 4px;
    border-radius: 4px;
}

table {
    border-collapse: collapse;
    @apply mt-3 bg-[#faf6ee] w-full;
}

table tr {
    
}
table tr:not(:last-child) {
    @apply border-b border-black/20;
    
}
table td {
    @apply p-2 md:py-2 md:px-8;

}
table td:not(:last-child) {

}

table thead th {
    @apply md:px-2 md:py-1 p-1 text-black/40 text-[0.75rem] font-semibold uppercase tracking-wide;
}
table thead {
    background: #fff7e8;
    @apply  border-b border-black/20;
}

td::content

ol,
ul,
menu {
    list-style: circle;
    margin: 0.5rem 0;
    padding: 0 1rem;
}
h1,
h2 {
    @apply mt-5 mb-1;
}
h3,
h4,
h5,
h6 {
    @apply mt-4 mb-1;
}
article p {
    @apply mt-1 mb-2;
}

article a {
    @apply underline underline-offset-2;
}

/* Code */

code .hljs-comment {
    @apply text-white/30;
}

code .hljs-operator {
    color: #ff79c6;
}

code .hljs-keyword {
    color: #bd93f9;
}

code .hljs-attr,
code .hljs-built_in {
    color: #8be9fd;
}

code .hljs-string {
    color: #4ed771;
}

.markdown-alert {
    /* They look really ai-generated, they are not */
    @apply bg-black/10 text-black/80 p-4 rounded-md border-l-2 mt-4 mb-8; 
}

.markdown-alert-important {
    @apply border-yellow-500;
}


.markdown-alert-title {
    @apply font-semibold text-black/90 mb-2;
}

.markdown-alert-title > svg {
    @apply inline-block w-5 h-5 mr-2;
}