@import "tailwindcss";

@layer base, starlight, theme, components, utilities;

/* boxShadow: {
				"outline-primary": "0px 0px 100px 0px rgba(135, 124, 255, 0.22)",
				"outline-secondary": "0px 0px 68.5px 0px rgba(255, 255, 255, 0.04)",
				glow: "0px 0px 100px 40px rgba(135, 124, 255, 0.18)",
			},
			borderColor: {
				primary: "#202020",
			}, */
@theme {
    --shadow-outline-primary: 0px 0px 100px 0px rgba(135, 124, 255, 0.22);
    --shadow-outline-secondary: 0px 0px 68.5px 0px rgba(255, 255, 255, 0.04);
    --shadow-glow: 0px 0px 100px 40px rgba(135, 124, 255, 0.18);
    --border-color-primary: #202020;
}

/* Import Starlight’s compatibility styles. */
@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/utilities.css' layer(utilities);
@import 'tailwindcss/theme.css' layer(theme);

