<a href="/">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        class="md:h-6 h-5 hover:scale-[103%] transition-all"
        viewBox="0 0 84 19"
        ><rect
            width="2.39999"
            height="15.9999"
            y=".5"
            fill="url(#a)"
            rx="1.19999"></rect><rect
            width="2.39999"
            height="11.9999"
            x="4.80029"
            y="4.5"
            fill="url(#b)"
            rx="1.19999"></rect><rect
            width="2.39999"
            height="14.3999"
            x="9.59961"
            y="2.10004"
            fill="url(#c)"
            rx="1.19999"></rect><rect
            width="2.39999"
            height="8.79996"
            x="14.4004"
            y="7.69995"
            fill="url(#d)"
            rx="1.19999"></rect><path
            fill="#857CF0"
            d="M27.2178 4h1.8225l3.8175 10.5h-1.65l-.7275-1.995h-4.7025l-.72 1.995h-1.6575L27.2178 4Zm-.8625 6.945h3.5475L28.1253 6.07l-1.77 4.875ZM40.236 9.7975V14.5h-1.56v-4.32c0-.335-.0825-.64-.2475-.915-.16-.275-.3775-.4925-.6525-.6525-.27-.165-.575-.2475-.915-.2475-.33 0-.6325.0825-.9075.2475-.275.16-.495.3775-.66.6525-.165.275-.2475.58-.2475.915v4.32h-1.56V7h1.56v.795c.26-.31.58-.555.96-.735.38-.18.79-.27 1.23-.27.555 0 1.06.135 1.515.405.455.27.815.6325 1.08 1.0875.27.455.405.96.405 1.515ZM45.9483 7h1.665l-4.11 11.25h-1.6575l1.3575-3.75L40.5108 7h1.7025l1.77 5.3625L45.9483 7Zm5.4187 7.71c-.725 0-1.3875-.1775-1.9875-.5325-.595-.355-1.07-.8325-1.425-1.4325-.355-.6-.5325-1.265-.5325-1.995 0-.545.1025-1.055.3075-1.53.205-.475.4875-.8925.8475-1.2525.365-.365.785-.65 1.26-.855.475-.205.985-.3075 1.53-.3075.53 0 .99.12 1.38.36.39.24.71.5525.96.9375V7h1.56v11.25h-1.56v-4.8375c-.25.38-.57.6925-.96.9375-.39.24-.85.36-1.38.36Zm.015-6.3975c-.435 0-.8325.11-1.1925.33-.36.22-.645.515-.855.885-.21.37-.315.7775-.315 1.2225 0 .455.1075.8675.3225 1.2375.215.37.5.665.855.885.36.215.755.3225 1.185.3225.44 0 .825-.11 1.155-.33.33-.22.585-.515.765-.885.18-.37.27-.78.27-1.23 0-.45-.0925-.8575-.2775-1.2225-.18-.37-.435-.665-.765-.885-.325-.22-.7075-.33-1.1475-.33Zm4.5988 3.375V7h1.56v4.305c0 .335.0825.64.2475.915.165.275.385.495.66.66.275.16.5775.24.9075.24.335 0 .6375-.08.9075-.24.275-.165.4925-.385.6525-.66.165-.275.2475-.58.2475-.915V7h1.56l.0075 7.5h-1.56l-.0075-.81c-.255.31-.5725.555-.9525.735-.38.18-.7875.27-1.2225.27-.555 0-1.06-.135-1.515-.405-.455-.27-.8175-.6325-1.0875-1.0875-.27-.455-.405-.96-.405-1.515Zm10.8515 3.0075c-.69 0-1.32-.1775-1.89-.5325-.565-.355-1.0175-.83-1.3575-1.425-.335-.6-.5025-1.2625-.5025-1.9875 0-.55.0975-1.0625.2925-1.5375.195-.48.4625-.9.8025-1.26.345-.365.745-.65 1.2-.855.455-.205.94-.3075 1.455-.3075.575 0 1.1025.12 1.5825.36.48.235.89.5625 1.23.9825.34.415.59.895.75 1.44.16.54.2075 1.115.1425 1.725h-5.7825c.065.345.19.6575.375.9375.19.275.43.4925.72.6525.295.16.6225.2425.9825.2475.38 0 .725-.095 1.035-.285.315-.19.5725-.4525.7725-.7875l1.5825.3675c-.3.665-.7525 1.21-1.3575 1.635-.605.42-1.2825.63-2.0325.63Zm-2.13-4.59h4.26c-.05-.36-.1775-.685-.3825-.975-.2-.295-.4525-.5275-.7575-.6975-.3-.175-.63-.2625-.99-.2625-.355 0-.685.085-.99.255-.3.17-.55.4025-.75.6975-.195.29-.325.6175-.39.9825Zm6.4771 4.395V7h1.56v.795c.26-.31.58-.555.96-.735.38-.18.79-.27 1.23-.27.28 0 .5575.0375.8325.1125l-.6225 1.575c-.195-.075-.39-.1125-.585-.1125-.33 0-.6325.0825-.9075.2475-.275.16-.495.3775-.66.6525-.165.275-.2475.58-.2475.915v4.32h-1.56ZM81.1661 7h1.665l-4.11 11.25h-1.6575l1.3575-3.75L75.7286 7h1.7025l1.77 5.3625L81.1661 7Z"
        ></path><defs
            ><linearGradient
                id="a"
                x1="1.19999"
                x2="1.19999"
                y1=".5"
                y2="16.4999"
                gradientUnits="userSpaceOnUse"
                ><stop stop-color="#5C51E3"></stop><stop
                    offset="1"
                    stop-color="#B5B0FF"></stop></linearGradient
            ><linearGradient
                id="b"
                x1="6.00029"
                x2="6.00029"
                y1="4.5"
                y2="16.4999"
                gradientUnits="userSpaceOnUse"
                ><stop stop-color="#5C51E3"></stop><stop
                    offset="1"
                    stop-color="#B5B0FF"></stop></linearGradient
            ><linearGradient
                id="c"
                x1="10.7996"
                x2="10.7996"
                y1="2.10004"
                y2="16.5"
                gradientUnits="userSpaceOnUse"
                ><stop stop-color="#5C51E3"></stop><stop
                    offset="1"
                    stop-color="#B5B0FF"></stop></linearGradient
            ><linearGradient
                id="d"
                x1="15.6004"
                x2="15.6004"
                y1="7.69995"
                y2="16.4999"
                gradientUnits="userSpaceOnUse"
                ><stop stop-color="#5C51E3"></stop><stop
                    offset="1"
                    stop-color="#B5B0FF"></stop></linearGradient
            ></defs
        ></svg
    >
</a>
