---
import Main from "../../layouts/main.astro";

import { slugify } from "../../functions/slugify";
export async function getStaticPaths() {
    const entries = [];
    // Get all the remote plugins
    const fetchReg = await fetch("https://registry.anyquery.dev/v0/query/", {
        headers: {
            "Content-Type": "application/json",
        },
    });

    const remoteQueries: any = await fetchReg.json();
    for (const query of remoteQueries.queries) {
        entries.push({
            params: { query: slugify(query.id) },
            props: { query: query },
        });
    }

    return entries;
}

type Props = {
    query: {
        id: string;
        title: string;
        description: string;
        required_plugins: string[];
        arguments: {
            title: string;
            display_title: string;
            description: string;
            type: string;
            regex: string;
        }[];
        query: string;
        source_code: string;
        author: string;
        tags: string[];
    };
};

const { query } = Astro.props;
---

<Main title="Anyquery - Search the web for answers" noIndex={true}>
    <h1>
        {query.title}
    </h1>
    <p>
        {query.description}
    </p>
</Main>
